<!-- <app-app-menu></app-app-menu>
<div class="contenido">
   <app-alumnos-list
    [alumnos]="alumnos"
    [alumnoSeleccionado]="alumnoSeleccionado"
    (seleccionar)="seleccionarAlumno($event)"
  ></app-alumnos-list>
 </div>
 <div class="container">
  <app-sign-up>
  </app-sign-up>
 </div> -->

 <router-outlet></router-outlet>

