<ul>
     <li *ngFor="let alumno of alumnos">
         <app-alumno-item
            [alumno]="alumno"
            [seleccionado]="alumnoSeleccionado === alumno" 
            (seleccion)="SeleccionarAlumno($event)">
        </app-alumno-item> 
    </li>
</ul> 