<div class="row">
<div class="col s12 offset-1">
<form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)" class="col s12 white" >
<div class="row">
  <div class="input-field col s6">
    <input type="text" name="UserName" [(ngModel)]="user.UserName" required class="validate">
    <label data-error="User name required!">UserName</label>
    <span class="helper-text" data-error="Fill User Name!"></span>
  </div>
  <div class="input-field col s6">
    <input class="validate" id="Password"  type="password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required minlength="3">
    <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName">
    <label>First Name</label>
  </div>
  <div class="input-field col s6">
    <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName">
    <label>Last Name</label>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input class="validate" required type="email" name="Email" #Email="ngModel" [(ngModel)]="user.Email" [pattern]="emailPattern">
      <label>Email</label>
      <span class="helper-text" data-error="Invalid email!"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
      <button class="btn-large btn submit">submit</button>
  </div>
</div>
</form>
